* {
  font-family: 'Golos Text', sans-serif;
}

.row {
  --bs-gutter-x: 4rem;
}

.row>* {
  --bs-gutter-x: 4rem;
}

body {
  padding: 0;
  background: #545454;
}

.container-fluid {
  background: white;
}

.sidebar {
  padding: 0;
  position: fixed;
  font-size: 0.9rem;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  //box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);

  .img-logo {
    max-width: 100%;
    height: auto;
  }
}

.sidebar-sticky {
  height: calc(100vh - 1rem);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.5rem 0 1rem;

  a {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.feather {
  width: 16px;
  height: 16px;
}

ion-item {
  span,
  ion-icon {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    padding-left: 15px;
  }
}

.nav-link {
  padding-left: 0;
  padding-right: 0;
  color: #494949;

  &.active {
    font-weight: 700;
    border-left: 3px solid red;
    padding-left: 12px;

    ion-icon {
      --ionicon-stroke-width: 64px;
    }
  }
}

.card {
  //padding: 1.5rem 0.75rem;
  border-width: 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  .card-footer,
  .card-header {
    padding-left: 0;
    padding-right: 0;
    background: white;
    border-width: 0;
  }

  .card-body {
    padding-left: 0;
    padding-right: 0;
  }
}

.chart[data-progress] {
  position: relative;
  &:after {
    position: absolute;
    content: attr(data-progress);
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: center;
    font-size: 2rem;
    color: #4f4e4e;
    mix-blend-mode: color-burn;
  }
}

.h4 {
  font-size: 1.3rem;
}

