<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <title>{{page.title}}</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky d-flex flex-column flex-shrink-0">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-3 me-md-auto text-white text-decoration-none">
                    <img src="img/logo.png" class="img-logo" />
                    <span class="fs-4">Sidebar</span>
                </a>

                <ul class="nav flex-column mb-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <ion-item>
                                <ion-icon name="speedometer-outline"></ion-icon>
                                <span>Dashboard</span>
                            </ion-item>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <ion-item>
                                <ion-icon name="fitness-outline"></ion-icon>
                                <span>Assessments</span>
                            </ion-item>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <ion-item>
                                <ion-icon name="trophy-outline"></ion-icon>
                                <span>Results</span>
                            </ion-item>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <ion-item>
                                <ion-icon name="bulb-outline"></ion-icon>
                                <span>Learning Centre</span>
                            </ion-item>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <ion-item>
                                <ion-icon name="flash-outline"></ion-icon>
                                <span>Resource Center</span>
                            </ion-item>
                        </a>
                    </li>
                </ul>

                <div class="dropdown">
                    <a href="#" class="dx-flex align-items-center text-decoration-none dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                        <ion-item>
                            <ion-icon name="person-circle-outline" style="font-size:32px"></ion-icon>
                            <span>Welcome <strong>Marc</strong></span>
                        </ion-item>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" style="margin-left: 15px;">
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="xd-flex justify-content-between flex-wrap flex-md-nowrap align-items-center p-4 px-5 pb-2 mb-3 border-bottom">
                {{ content }}
            </div>
        </main>
    </div>
</div>


<script src="js/bootstrap.bundle.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script>
<script src="dashboard.js"></script>
</body>
</html>
